@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: white;
}

.underLine {
    background: linear-gradient(transparent 70%, rgba(255, 192, 56, 0.3) 0%);
}

.button {
    display: inline-block;
    font-weight: 600;
    color: white;
    padding: 0.75rem;
    background-color: #3ea8ff;
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: 0 2px #3284c7;
    margin-left: 30px;
}

.hover:hover {
    color: white;
    text-decoration: none;
    opacity: 0.65;
}
